<ion-view view-title="Login">
  <ion-content id="accountContent">
    <div class="row">
      <div class="col-25"><hr></div>
      <div class="col-50 text-center">ACCEDI CON</div>
      <div class="col-25"><hr></div>
    </div>
    <div class="row responsive-sm">
      <div class="col">
        <a><img class="imgAccess" src="../img/facebook-social-login.png"></a>
        <a><img class="imgAccess" src="../img/google-social-login.png"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-10"><hr></div>
      <div class="col-80 text-center">O CON LE TUE CREDENZIALI</div>
      <div class="col-10"><hr></div>
    </div>
    <div class="row responsive-sm">
      <div class="col">
        <div class="list">
          <label class="item item-input login-input">
            <input type="email" placeholder="Indirizzo Email">
          </label>
          <label class="item item-input login-input">
            <input type="password" placeholder="Password">
          </label>
        </div>
      </div>
    </div>
    <div class="row responsive-sm">
      <div class="col text-center">
        <button class="button button-outline button-light ">- ENTRA -</button>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <button class="button button-block button-outline button-light">- RECUPERA PASSWORD -</button>
        <button class="button button-block button-outline button-light">- CREA UN ACCOUNT -</button>
        <button class="button button-block button-outline button-light">- UTILIZZA UN COUPON -</button>
      </div>
    </div>
  </ion-content>
</ion-view>
