<ion-view view-title="Slider">
  <ion-content id="sliderContent">
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
      <ion-slide>
        <div class="slider-page">
          <img src="../img/img1.png">
          <h3 class="text-center">I'm too lazy</h3>
          <div class="bottom-slider text-center">scorri per inizziare</div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slider-page">
          <img src="../img/img2.png">
          <h3 class="text-center">to add</h3>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slider-page">
          <img src="../img/img3.jpg">
          <h3 class="text-center">Description</h3>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
