<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left">
    <ion-content>
      <a menu-close href="#/home" class="item closeOperation  ion-close-round"></a>
      <ion-list>
        <ion-item menu-close href="#/app/search">
          HOME
        </ion-item>
        <ion-item menu-close href="#/app/search">
          CERCA SULLA MAPPA
        </ion-item>
        <ion-item menu-close href="#/app/playlist">
          PLAYLIST IN EVIDENCA
        </ion-item>
        <ion-item menu-close href="#/app/search">
          LE TUE PLAYLIST
        </ion-item>
        <ion-item menu-close href="#/app/search">
          PLAYER
        </ion-item>
        <ion-item menu-close href="#/app/search">
        SCATTA UNA FOTO
      </ion-item>
        <ion-item menu-close href="#/app/login" >
          LOG IN
        </ion-item>
        <ion-item menu-close href="#/app/" class="pad">
        CREDITI
      </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
