<ion-view>
  <ion-nav-buttons side="right" class="header-button">
    <button class="ion-search search-button" ui-sref="app.search"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list" id="dash-list">
    <div class="item item-divider" id="first-divider">
      PLAYLIST IN EVIDENZA <p>vedi tutto <span class="ion-chevron-right"></span></p>
    </div>
    <div class="item">
      <div class="row" id="dash-row">
        <div class="col">
          <div id="card1" class="card">
            <div class="item item-text-wrap">
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
            </div>
          </div>
          <p>Playlist numero uno</p>
        </div>
        <div class="col">
          <div id="card2" class="card">
            <div class="item item-text-wrap">
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
            </div>
          </div>
          <p>Playlist numero due</p>
        </div>
      </div>
    </div>

    <div class="item item-divider">
      LE TUE PLAYLIST <p>vedi tutto <span class="ion-chevron-right"></span></p>
    </div>
    <div class="item">
      <div class="row" id="dash-row">
        <div class="col">
          <div id="card1" class="card">
            <div class="item item-text-wrap">
              <br/>
              <br/>
              <br/>
              <br/>
              <br/>
              <br/>
            </div>
          </div>
          <p>Playlist numero uno</p>
        </div>
        <div class="col">
          <div id="card2" class="card">
            <div class="item item-text-wrap">
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
            </div>
          </div>
          <p>Playlist numero due</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card" id="player">
    <div class="item item-text-wrap">
      <p>R</p>
      <p>E</p>
      <p>Y</p>
      <p>A</p>
      <p>L</p>
      <p>P</p>
    </div>
  </div>
</div>
  </ion-content>
</ion-view>
