<ion-view hide-nav-bar="true">
  <!-- <search-bar ng-model="search"></search-bar> -->
  <ion-header-bar class="search-header-bar">
    <button class="ion-search search-btn"></button>
    <input type="text" placeholder="Search ...">
    <button class="ion-close" ui-sref="app.playlists"></button>
  </ion-header-bar>
  <ion-content>
    <div class="arrow-up">
      <i class="ion-ios-arrow-thin-up"></i>
    </div>
    <div class="search-content">
      <h3>Comincia a digitare per ricercare una traccia ...</h3>
    </div>
    <div id="player-search">
      <div class="item item-text-wrap">
        <p>R</p>
        <p>E</p>
        <p>Y</p>
        <p>A</p>
        <p>L</p>
        <p>P</p>
      </div>
    </div>
  </ion-content>
</ion-view>
