/* Sidebar*/
div.list{
  text-align: center;
  background-color:  rgb(34,181,115);
}
ion-item.item{
  border-width: 0;
}

a.item.closeOperation.ion-close-round{
  border-width: 0;
  text-align: right;
  background-color:rgb(34,181,115);
  color:white;
}
div.scroll{
  background-color:rgb(34,181,115) ;
}
ion-item.item{
  background-color:rgb(34,181,115);
  color:white;
}
.item-complex .item-content{
  background-color:rgb(34,181,115);
  padding: 1px 0px 15px 15px;
  font-weight: 500;
}

ion-content.scroll-content.ionic-scroll.overflow-scroll{
  background-color:rgb(34,181,115);
}
ion-item.pad{
  padding-top: 30px;
}
.item .item-content.activated{
  background-color:rgb(34,181,115);
  border-color: rgb(34,181,115);
}
ion-side-menu.menu.menu-left{
    background-color:rgb(34,181,115);
}

/* end of sidebar style*/
/*login style */
#accountContent{
  background-color: rgb(34,181,115);
  padding: 50px;
  padding-top: 40px !important;
  color: white !important;
}
#sliderContent{
  background-color: rgb(34,181,115);
  color: white;
}
.imgAccess{
  width: 48%;
  height: 40%;
  padding: 10px;
  margin-bottom: -15px;
}
.item-input{
  margin-bottom: 3px;
}
.login-input{
  background-color: white !important;
}
.button-light{
  border-color: white !important;
  color: white !important;
}
@media(max-width:320px){
  #accountContent{
    font-size: 12px;
  }
  .button-light{
    font-size: 15px !important;
  }
}
/*end of login style*/